In [1]:
# importing pandas package
import pandas as pd
pd.set_option('display.max_rows', 10)

In [2]:
# reading elections data from csv files
elections = pd.read_csv("elections.csv")
elections

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
...,...,...,...,...,...,...
177,2016,Jill Stein,Green,1457226,loss,1.073699
178,2020,Joseph Biden,Democratic,81268924,win,51.311515
179,2020,Donald Trump,Republican,74216154,loss,46.858542
180,2020,Jo Jorgensen,Libertarian,1865724,loss,1.177979
181,2020,Howard Hawkins,Green,405035,loss,0.255731

In [42]:
# slicing operations
elections.loc[1, 'Candidate']

'John Quincy Adams'

In [43]:
# slicing multiple rows and columns
elections.loc[0:3, 'Candidate': 'Popular vote']

           Candidate                  Party  Popular vote
0     Andrew Jackson  Democratic-Republican        151271
1  John Quincy Adams  Democratic-Republican        113142
2     Andrew Jackson             Democratic        642806
3  John Quincy Adams    National Republican        500897

In [44]:
# slicing multiple rows and all columns
elections.loc[0:3, :]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

In [45]:
# slicing all rows and some columns
elections.loc[:, 'Candidate': 'Popular vote']

             Candidate                  Party  Popular vote
0       Andrew Jackson  Democratic-Republican        151271
1    John Quincy Adams  Democratic-Republican        113142
2       Andrew Jackson             Democratic        642806
3    John Quincy Adams    National Republican        500897
4       Andrew Jackson             Democratic        702735
..                 ...                    ...           ...
177         Jill Stein                  Green       1457226
178       Joseph Biden             Democratic      81268924
179       Donald Trump             Republican      74216154
180       Jo Jorgensen            Libertarian       1865724
181     Howard Hawkins                  Green        405035

[182 rows x 3 columns]

In [46]:
# slicing only the specified columns
elections.loc[:, ['Candidate', 'Popular vote']]

             Candidate  Popular vote
0       Andrew Jackson        151271
1    John Quincy Adams        113142
2       Andrew Jackson        642806
3    John Quincy Adams        500897
4       Andrew Jackson        702735
..                 ...           ...
177         Jill Stein       1457226
178       Joseph Biden      81268924
179       Donald Trump      74216154
180       Jo Jorgensen       1865724
181     Howard Hawkins        405035

[182 rows x 2 columns]

In [47]:
# slicing a single column as series
elections.loc[:, 'Popular vote']

0        151271
1        113142
2        642806
3        500897
4        702735
         ...
177     1457226
178    81268924
179    74216154
180     1865724
181      405035
Name: Popular vote, Length: 182, dtype: int64

In [48]:
# slicing all rows and a single column as a dataframe
elections.loc[:, ['Popular vote']]

     Popular vote
0          151271
1          113142
2          642806
3          500897
4          702735
..            ...
177       1457226
178      81268924
179      74216154
180       1865724
181        405035

[182 rows x 1 columns]

In [49]:
# slicing single row and multiple columns as a series
elections.loc[0, ['Candidate', 'Popular vote']]

Candidate       Andrew Jackson
Popular vote            151271
Name: 0, dtype: object

In [50]:
# slicing single row and multiple columns as a DataFrame
elections.loc[[0], ['Candidate', 'Popular vote']]

        Candidate  Popular vote
0  Andrew Jackson        151271

In [51]:
# slicing a single column as series using shorthand
elections['Candidate']

0         Andrew Jackson
1      John Quincy Adams
2         Andrew Jackson
3      John Quincy Adams
4         Andrew Jackson
             ...
177           Jill Stein
178         Joseph Biden
179         Donald Trump
180         Jo Jorgensen
181       Howard Hawkins
Name: Candidate, Length: 182, dtype: object

In [52]:
# slicing some columns as DataFrame using shorthand
elections[['Candidate', 'Popular vote']]

             Candidate  Popular vote
0       Andrew Jackson        151271
1    John Quincy Adams        113142
2       Andrew Jackson        642806
3    John Quincy Adams        500897
4       Andrew Jackson        702735
..                 ...           ...
177         Jill Stein       1457226
178       Joseph Biden      81268924
179       Donald Trump      74216154
180       Jo Jorgensen       1865724
181     Howard Hawkins        405035

[182 rows x 2 columns]

In [53]:
# slicing rows and columns using iloc
elections.iloc[0:4, 0:3]

   Year          Candidate                  Party
0  1824     Andrew Jackson  Democratic-Republican
1  1824  John Quincy Adams  Democratic-Republican
2  1828     Andrew Jackson             Democratic
3  1828  John Quincy Adams    National Republican

In [54]:
# slicing rows using shorthand
elections[0:4]

,Year,Candidate,Party,Popular vote,Result,%
0,1824,Andrew Jackson,Democratic-Republican,151271,loss,57.210122
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
3,1828,John Quincy Adams,National Republican,500897,loss,43.796073

In [55]:
# boolean array based on the condition
elections['Result'] == 'win'

0      False
1       True
2       True
3      False
4       True
       ...
177    False
178     True
179    False
180    False
181    False
Name: Result, Length: 182, dtype: bool

In [56]:
# filtering dataframe for the winners
elections.loc[elections['Result'] == 'win', :]

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
11,1840,William Henry Harrison,Whig,1275583,win,53.051213
...,...,...,...,...,...,...
157,2004,George W. Bush,Republican,62040610,win,50.771824
162,2008,Barack Obama,Democratic,69498516,win,53.023510
168,2012,Barack Obama,Democratic,65915795,win,51.258484
173,2016,Donald Trump,Republican,62984828,win,46.407862
178,2020,Joseph Biden,Democratic,81268924,win,51.311515

In [57]:
# filtering dataframe for the winners using shorthand expression
elections[elections['Result'] == 'win']

,Year,Candidate,Party,Popular vote,Result,%
1,1824,John Quincy Adams,Democratic-Republican,113142,win,42.789878
2,1828,Andrew Jackson,Democratic,642806,win,56.203927
4,1832,Andrew Jackson,Democratic,702735,win,54.574789
8,1836,Martin Van Buren,Democratic,763291,win,52.272472
11,1840,William Henry Harrison,Whig,1275583,win,53.051213
...,...,...,...,...,...,...
157,2004,George W. Bush,Republican,62040610,win,50.771824
162,2008,Barack Obama,Democratic,69498516,win,53.023510
168,2012,Barack Obama,Democratic,65915795,win,51.258484
173,2016,Donald Trump,Republican,62984828,win,46.407862
178,2020,Joseph Biden,Democratic,81268924,win,51.311515

In [72]:
# filtering dataframe based on multiple conditions
elections[(elections['Year'] < 2000) & (elections['Result'] == 'win') &
          ((elections['Party'] == 'Democratic') | (elections['Party'] == 'Republican'))]

     Year          Candidate       Party  Popular vote Result          %
2    1828     Andrew Jackson  Democratic        642806    win  56.203927
4    1832     Andrew Jackson  Democratic        702735    win  54.574789
8    1836   Martin Van Buren  Democratic        763291    win  52.272472
13   1844         James Polk  Democratic       1339570    win  50.749477
17   1852    Franklin Pierce  Democratic       1605943    win  51.013168
..    ...                ...         ...           ...    ...        ...
131  1980      Ronald Reagan  Republican      43903230    win  50.897944
133  1984      Ronald Reagan  Republican      54455472    win  59.023326
135  1988  George H. W. Bush  Republican      48886597    win  53.518845
140  1992       Bill Clinton  Democratic      44909806    win  43.118485
144  1996       Bill Clinton  Democratic      47400125    win  49.296938

[40 rows x 6 columns]

In [76]:
# sorting the dataframe based on '%' column in descending order
elections.sort_values(by='%', ascending=False)

     Year           Candidate         Party  Popular vote Result          %
114  1964      Lyndon Johnson    Democratic      43127041    win  61.344703
91   1936  Franklin Roosevelt    Democratic      27752648    win  60.978107
120  1972       Richard Nixon    Republican      47168710    win  60.907806
79   1920      Warren Harding    Republican      16144093    win  60.574501
133  1984       Ronald Reagan    Republican      54455472    win  59.023326
..    ...                 ...           ...           ...    ...        ...
165  2008    Cynthia McKinney         Green        161797   loss   0.123442
148  1996        John Hagelin   Natural Law        113670   loss   0.118219
160  2004    Michael Peroutka  Constitution        143630   loss   0.117542
141  1992            Bo Gritz      Populist        106152   loss   0.101918
156  2004          David Cobb         Green        119859   loss   0.098088

[182 rows x 6 columns]

In [91]:
# sorting the dataframe based on 'Candidate' values column length
def name_len(name):
    return name.str.len()

elections.sort_values(by='Candidate',
                      key=name_len,
                      ascending=True)

     Year               Candidate        Party  Popular vote Result          %
151  2000                 Al Gore   Democratic      50999897   loss  48.491813
83   1928                Al Smith   Democratic      15015464   loss  40.902853
128  1980                Ed Clark  Libertarian        921128   loss   1.067883
138  1988                Ron Paul  Libertarian        431750   loss   0.472660
141  1992                Bo Gritz     Populist        106152   loss   0.101918
..    ...                     ...          ...           ...    ...        ...
37   1880  Winfield Scott Hancock   Democratic       4444976   loss  48.278422
55   1900  William Jennings Bryan   Democratic       6370932   loss  46.130540
52   1896  William Jennings Bryan   Democratic       6509052   loss  46.871053
9    1836  William Henry Harrison         Whig        550816   loss  37.721543
64   1908  William Jennings Bryan   Democratic       6408979   loss  43.414640

[182 rows x 6 columns]

In [101]:
# sorting a series object based on descending order
elections['Popular vote'].sort_values(ascending=False)

178    81268924
179    74216154
162    69498516
168    65915795
176    65853514
         ...
110      107929
141      106152
99       103708
89       103307
6        100715
Name: Popular vote, Length: 182, dtype: int64

In [103]:
# getting value counts of each value in a column as a series
elections['Party'].value_counts()

Democratic             47
Republican             41
Libertarian            12
Prohibition            11
Socialist              10
                       ..
Northern Democratic     1
National Union          1
Liberal Republican      1
Union Labor             1
National Democratic     1
Name: Party, Length: 36, dtype: int64

In [104]:
# getting all unique values in a column as an array
elections['Party'].unique()

array(['Democratic-Republican', 'Democratic', 'National Republican',
       'Anti-Masonic', 'Whig', 'Free Soil', 'Republican', 'American',
       'Constitutional Union', 'Southern Democratic',
       'Northern Democratic', 'National Union', 'Liberal Republican',
       'Greenback', 'Anti-Monopoly', 'Prohibition', 'Union Labor',
       'Populist', 'National Democratic', 'Socialist', 'Progressive',
       'Farmer–Labor', 'Communist', 'Union', 'Dixiecrat',
       "States' Rights", 'American Independent', 'Independent',
       'Libertarian', 'Citizens', 'New Alliance', 'Taxpayers',
       'Natural Law', 'Green', 'Reform', 'Constitution'], dtype=object)

In [107]:
# filtering based on multiple conditions
elections[(elections['Party'] == 'Democratic') |
          (elections['Party'] == 'Republican') |
          (elections['Party'] == 'Whig')]

     Year               Candidate       Party  Popular vote Result          %
2    1828          Andrew Jackson  Democratic        642806    win  56.203927
4    1832          Andrew Jackson  Democratic        702735    win  54.574789
7    1836       Hugh Lawson White        Whig        146109   loss  10.005985
8    1836        Martin Van Buren  Democratic        763291    win  52.272472
9    1836  William Henry Harrison        Whig        550816   loss  37.721543
..    ...                     ...         ...           ...    ...        ...
171  2012             Mitt Romney  Republican      60933504   loss  47.384076
173  2016            Donald Trump  Republican      62984828    win  46.407862
176  2016         Hillary Clinton  Democratic      65853514   loss  48.521539
178  2020            Joseph Biden  Democratic      81268924    win  51.311515
179  2020            Donald Trump  Republican      74216154   loss  46.858542

[94 rows x 6 columns]

In [109]:
# filtering based on multiple conditions using isin method
elections[elections['Party'].isin(['Democratic', 'Republican', 'Whig'])]

     Year               Candidate       Party  Popular vote Result          %
2    1828          Andrew Jackson  Democratic        642806    win  56.203927
4    1832          Andrew Jackson  Democratic        702735    win  54.574789
7    1836       Hugh Lawson White        Whig        146109   loss  10.005985
8    1836        Martin Van Buren  Democratic        763291    win  52.272472
9    1836  William Henry Harrison        Whig        550816   loss  37.721543
..    ...                     ...         ...           ...    ...        ...
171  2012             Mitt Romney  Republican      60933504   loss  47.384076
173  2016            Donald Trump  Republican      62984828    win  46.407862
176  2016         Hillary Clinton  Democratic      65853514   loss  48.521539
178  2020            Joseph Biden  Democratic      81268924    win  51.311515
179  2020            Donald Trump  Republican      74216154   loss  46.858542

[94 rows x 6 columns]

In [13]:
# aggregating over 'Popular vote' column
elections['Popular vote'].sum()

2248361734

In [17]:
# grouping with 'Year' and aggregating over 'Popular vote' column
elections.groupby('Year')['Popular vote'].sum()

Year
1824       264413
1828      1143703
1832      1287655
1836      1460216
1840      2404437
          ...
2004    122194959
2008    131071135
2012    128594897
2016    135720167
2020    157755837
Name: Popular vote, Length: 50, dtype: int64

In [50]:
# grouping with 'Year' and aggregating over 'Candidate' column
elections.groupby('Year')['Candidate'].size()

Year
1824    2
1828    2
1832    3
1836    3
1840    2
       ..
2004    6
2008    6
2012    4
2016    6
2020    4
Name: Candidate, Length: 50, dtype: int64

In [92]:
# grouping with 'Party' and 'Result', and aggregating over 'Popular vote' column
elections_group_by_party_result = elections.groupby(['Party', 'Result'])['Result'].size()
elections_group_by_party_result

Party                 Result
American              loss      2
American Independent  loss      3
Anti-Masonic          loss      1
Anti-Monopoly         loss      1
Citizens              loss      1
                               ..
Taxpayers             loss      1
Union                 loss      1
Union Labor           loss      1
Whig                  loss      4
                      win       2
Name: Result, Length: 40, dtype: int64

In [95]:
# converting multi-level indixed Series into single level indexed DataFrame
elections_group_by_party_result.reset_index(name='Count')

                   Party Result  Count
0               American   loss      2
1   American Independent   loss      3
2           Anti-Masonic   loss      1
3          Anti-Monopoly   loss      1
4               Citizens   loss      1
..                   ...    ...    ...
35             Taxpayers   loss      1
36                 Union   loss      1
37           Union Labor   loss      1
38                  Whig   loss      4
39                  Whig    win      2

[40 rows x 3 columns]

In [126]:
def diff_with_nearest_candidate(s):
    # max value in the group
    max_value = s.max()
    # 2nd largest in the group
    second_highest = s.nlargest(2).min()
        
    # return diff    
    return max_value - second_highest


# grouping with custom aggregation function
elections.groupby('Year')['%'].agg(diff_with_nearest_candidate)

Year
1824    14.420244
1828    12.407854
1832    16.971161
1836    14.550929
1840     6.102426
          ...
2004     2.465049
2008     7.286267
2012     3.874408
2016     2.113677
2020     4.452973
Name: %, Length: 50, dtype: float64